@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background__color: #FFFFFF;
  --button__color: #000000;
  --hover__colr: #FF5555;
}


@layer components {
  .roboto-thin {
    @apply font-roboto font-thin not-italic;
  }

  .roboto-light {
    @apply font-roboto font-light not-italic;
  }

  .roboto-regular {
    @apply font-roboto font-normal not-italic;
  }

  .roboto-medium {
    @apply font-roboto font-medium not-italic;
  }

  .roboto-bold {
    @apply font-roboto font-bold not-italic;
  }

  .roboto-black {
    @apply font-roboto font-black not-italic;
  }

  .roboto-thin-italic {
    @apply font-roboto font-thin italic;
  }

  .roboto-light-italic {
    @apply font-roboto font-light italic;
  }

  .roboto-regular-italic {
    @apply font-roboto font-normal italic;
  }

  .roboto-medium-italic {
    @apply font-roboto font-medium italic;
  }

  .roboto-bold-italic {
    @apply font-roboto font-bold italic;
  }

  .roboto-black-italic {
    @apply font-roboto font-black italic;
  }
}

/* Feature card */
.feature-container {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 1024px) {
  .feature-container {
    flex-direction: row;
  }
}

.image-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  height: 100vh;
  flex-grow: 1;
  width: 100%;
}

@media (min-width: 1024px) {
  .image-container {
    padding-left: 4rem;
    padding-right: 4rem;
    width: 50%;
  }
}

.content-container {
  padding-left: 1rem;
  width: 100%;
}

@media (min-width: 1024px) {
  .content-container {
    padding-left: 4rem;
    width: 50%;
    padding-top: 6rem;
  }
}

/* customizarion */
.customization-container {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 1024px) {
  .customization-container {
    flex-direction: row;
  }
}

.image-container {
  position: relative;
  height: 100vh;
  flex-grow: 1;
  width: 100%;
}

@media (min-width: 1024px) {
  .image-container {
    width: 50%;
  }
}

.content-container {
  padding-left: 0.25rem;
  width: 100%;
}

@media (min-width: 1024px) {
  .content-container {
    padding-left: 4rem;
    width: 50%;
    padding-top: 9rem;
  }
}